<!--The content below is only a placeholder and can be replaced.-->
<ul class="horizontal">
  <li><a href="https://www.google.com">Boosted.exe</a></li>
  <li><a href="https://www.google.com">Boards</a></li>
  <li><a href="https://www.google.com">News</a></li>
  <li id="login"><a href="https://www.google.com">Login</a></li>
</ul> 
<h1>Boosted.exe</h1>
<form class="search-summoner" action="/user/">
  <div class="summoner-search-input-container">
    <input id="search" type="text" name="username" placeholder="Summoner Name">
  </div>
</form>
