h1{
	text-align:center;
	margin-top:1%;
}

h2{
	text-align: center;
}

input{
	color:#9b9b9b;
    width:10%;
    margin-bottom: 1.5%;
}

textarea{
    color:#9b9b9b;
    width:20%; 

}
.igncontainer{
    margin-left:5%;   
}

.board{
    background-color: #2f4357;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:100%;
    margin-top:2%;
}

.threads{
	margin-top:1%;
}

#threadcontainer{
	margin-left:2%;
}

.horizontal{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width:100%;
}

ul{
    width:100%;
    margin-left: 0px;
    margin-right:0px;
}

li {
    float: left;
}

li div{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li div:hover{
    background-color: #111;
    cursor:pointer;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover{
	background-color: #111;
}

#login{
	position:fixed;
	right:0px;
}